#Background-Image{
    background-image: url("../img/705910e2f940448eb289d47200f4cab2.webp");
    height: 722px;
}

#Home-Main{
    background-color: #adc4dd;
    text-align: center;
    padding-top: 10px;
    opacity: 0.9;
    
}