table.grid{
    width: 100%;
    border: none;
    padding: 0px;
}

.Header {
    color: #800000;
}

.Header2 {
    font-size: 24px;
}

#Main{
    height: 100%;
    width: 100%;
}

h1 h5 {
    margin: 0;
    padding: 0;
}















